

.jumbotron {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;

  h1 {
    font-size: 100px;
    line-height: 1;
  }

  .lead {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.25;
  }
}

.featurette-divider {
  font-weight: bold;
}

.featurette {
  padding-top: 120px;
  overflow: hidden;
  .featurette-image {
    margin-top: -120px;
    width: 512px;
    height: 512px;
    &.pull-right {
      margin-left: 40px;      
    }

    &.pull-left {
      margin-right: 40px;
    }

    &.stress {
      width: 256px;
    }

    &.sleep {
      width: 412px;
    }
  }

  .featurette-heading {
    font-weight: normal;
  }
}

.nav {
  
}