---
title: Docs
nav_docs: active
---

<div class="page-header">
  <h1>Class Documents </h1>
</div>

<div class="container">
  <ul>
    <li><%= link_to "Project Proposal", "docs/SAHAEmbedded_initial_proposal.pdf" %></li>
  </ul>
</div>