---
title: Saha
nav_home: active
---

<div class="jumbotron">
  <h1>Saha</h1>
  <p class="lead">Sleep and Health Analytics</p>
</div>


<div class="container content"> 
  <hr class="featurette-divider"/>
  <div class="featurette">
    <!-- http://aninspiredapproach.files.wordpress.com/2012/06/97089039.jpg -->
    <%= image_tag "heart.jpg", :class => "featurette-image pull-right" %>
    <h2 class="featurette-heading">
      Pulse Oximetery
    </h2>
    <p class="lead">
      Measurements of oxygen levels and pulse rate.
    </p>
  </div>

  <hr class="featurette-divider"/>
  <div class="featurette">
    <!-- http://www.wigglestatic.com/product-media/5360077912/nike-lunarhyperworkout-xt-plus-529951-009-ind.jpg?w=1200&h=1200&a=7 -->
    <%= image_tag "nike_shoe.jpg", :class => "featurette-image pull-left" %>
    <h2 class="featurette-heading">
      Daily Steps
    </h2>
    <p class="lead">
      Tracks daily steps so you can gain insight on how active you are.
    </p>
  </div>

  <hr class="featurette-divider"/>
  <div class="featurette">
    <!-- http://upload.wikimedia.org/wikipedia/commons/8/8b/2010-07-20_Black_windup_alarm_clock_face.jpg -->
    <%= image_tag "alarm_clock.jpg", :class => "featurette-image pull-right sleep" %>
    <h2 class="featurette-heading">
      Sleep Patterns
    </h2>
    <p class="lead">
      Wake up less groggy by waking user when they are in a light sleep.
    </p>
  </div>

  <hr class="featurette-divider"/>
  <div class="featurette">
    <!-- http://sustainable-leaders.com/wp-content/uploads/2012/05/stick_figure_headache_1600_wht.png -->
    <%= image_tag "headache.png", :class => "featurette-image pull-left stress" %>
    <h2 class="featurette-heading">
      Stress Levels
    </h2>
    <p class="lead">
      For when you need to chill out.
    </p>
  </div>
  <hr class="featurette-divider"/>
</div>