---
title: Saha
nav_home: active
---

<div class="jumbotron">
  <h1>Saha</h1>
  <p class="lead">Sleep and Health Analytics</p>
</div>


<div class="container content"> 
  <hr class="featurette-divider"/>
  <div class="featurette">
    <%= image_tag "middleman.png", :class => "featurette-image pull-right" %>
    <h2 class="featurette-heading">
      Pulse Oximetery
    </h2>
    <p class="lead">
      Measurements of oxygen levels and pulse rate.
    </p>
  </div>

  <hr class="featurette-divider"/>
  <div class="featurette">
    <%= image_tag "middleman.png", :class => "featurette-image pull-left" %>
    <h2 class="featurette-heading">
      Daily Steps
    </h2>
    <p class="lead">
      Tracks daily steps so you can gain insight on how active you are.
    </p>
  </div>

  <hr class="featurette-divider"/>
  <div class="featurette">
    <%= image_tag "middleman.png", :class => "featurette-image pull-right" %>
    <h2 class="featurette-heading">
      Sleep Patterns
    </h2>
    <p class="lead">
      Wake up less groggy by waking user when they are in a light sleep.
    </p>
  </div>

  <hr class="featurette-divider"/>
  <div class="featurette">
    <%= image_tag "middleman.png", :class => "featurette-image pull-left" %>
    <h2 class="featurette-heading">
      Stress Levels
    </h2>
    <p class="lead">
      For when you need to chill out.
    </p>
  </div>
  <hr class="featurette-divider"/>
</div>