---
title: Slides
nav_slides: active
---

<div class="page-header">
  <h1>Slide Presentations </h1>
</div>

<div class="container">
  <ul>
    <li><%= link_to "Initial Presentation", "slides/senior_proj_presentation.pdf" %></li>
  </ul>
</div>